.container
{
    width: 1440px;
    margin: 0 auto;
    
    .header
    {
        background-color: #ffffff;
        .header-wrapper
        {
            width: 1280px;
            margin: 0 auto;
            .header-logo
            {

            }

            .header-nav
            {
                
            }

            .header-info
            {

            }
            
            .header-sign
            {

            }
        }

        .banner
        {
            width: 1280px;
            margin: 0 auto;
        }


    }

    .main-body
    {
        
    }

    .footer
    {
    
    }
}