// 按钮
$button_primary: #2564F5;
$button_primary_light: #5183F7;

$button_warn: #FF6454;
$button_warn_light: #FF6454;

// 背景
$bg_color1: #FFFFFF;
$bg_color2: #F6FBFF;
$bg_color3: #F6FBFF;
$bg_color4: #FF6454;
$bg_color5: #FF9D00;
$bg_color6: #05D4A4;
$bg_color7: #3D3E49;
$bg_color8: #1E1E1E;

//标签-底色


//分割线
$border_primary: #D8D8D8;

//输入框
$input_color1: #D8D8D8;
$input_color2: #20A0FF;

//文字
$text_color1: #FFFFFF;
$text_color2: #C1C1C1;

$text_color3: #666666;
$text_color4: #B1B8D0;

$text_color5: #A4AEBD;
$text_color6: #878DA5;

$text_color7: #41465A;
$text_color8: #2EC4B6;

$text_color9: #20A0FF;
$text_color10: #2564F5;

//滚动条
$scroll_color1: #EAEAEA;
$scroll_color2: #DEDEDE;





