/*重置css*/
@import "theme2/_reset.scss";

* {
    margin: 0;
    padding: 0;
}

body {
    background:#edf3ff;
    position: relative;

    #info {
        .top {
            width: 100%;
            height: 60px;

            .inner {
                width: 1180px;
                height: 60px;
                margin: 0 auto;

                .logo {
                    width: 102px;
                    height: 40px;
                    float: left;
                    margin-top: 10px;
                    background:url('../img/logo-top.png');
                    background-size: cover;
                }

                .nav {
                    float: left;
                    margin-left: 100px;
                    height: 60px;

                    a {
                        display: block;
                        float: left;
                        margin-right: 50px;
                        font-family:MicrosoftYaHei;
                        font-size:13px;
                        color:#2a201d;
                        letter-spacing:1px;
                        line-height:60px;
                        text-align:center;
                        cursor: pointer;
                    }
                }

                .login {
                    float: right;
                    height: 30px;
                    margin-top: 15px;

                    a {
                        display: block;
                        height: 30px;
                        margin-left:  29px;
                        font-family:MicrosoftYaHei;
                        font-size:13px;
                        color:#2a201d;
                        letter-spacing:1px;
                        line-height:30px;
                        text-align:center;
                        float: left;
                        cursor: pointer;
                    }

                    .active {
                        border:1px solid #0088ff;
                        border-radius:100px;
                        width:96px;
                        height:30px;
                        font-family:MicrosoftYaHei;
                        font-size:13px;
                        color:#0088ff;
                        letter-spacing:1px;
                        line-height:30px;
                        text-align:center;
                    }
                }
            }
        }
        .path {
            background:#979797;
            height:44px;

            .inner {
                width: 1180px;
                height: 44px;
                margin: 0 auto;

                a {
                    display: block;
                    float: left;
                    margin-right: 10px;
                    font-family:PingFangSC-Regular;
                    font-size:12px;
                    color:#ffffff;
                    letter-spacing:0;
                    line-height:44px;
                    text-align:justify;
                }

                .classify {
                    position: relative;
                    background: #a8a8a8;
                    border: 1px solid #979797;
                    width: 180px;
                    height: 26px;
                    float: left;
                    margin-top: 9px;

                    p {
                        padding: 0px 27px 0px 11px;
                        font-family: MicrosoftYaHei;
                        font-size: 12px;
                        color: #ffffff;
                        letter-spacing: 0;
                        text-align: left;
                        line-height: 27px;
                        background: url('../img/details_path_icon.png');
                        background-size: 6px 4px;
                        background-repeat: no-repeat;
                        background-position: 95% 50%;
                        width: 142px;
                        height: 27px;
                        overflow: hidden;
                        cursor: pointer;
                    }

                    ul {
                        width: 142px;
                        position: absolute;
                        left: 0px;
                        top: 29px;
                        transition: all 0.5s;

                        li {
                            background: #a8a8a8;
                            width: 142px;
                            height: 30px;
                            padding: 0px 27px 0px 11px;
                            font-family: MicrosoftYaHei;
                            font-size: 12px;
                            color: #ffffff;
                            letter-spacing: 0;
                            text-align: left;
                            line-height: 30px;
                            cursor: pointer;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
        .products_details {
            width: 100%;
            padding-top: 32px;

            .inner {
                width: 1180px;
                margin: 0 auto;
                margin-top: 32px;

                .products_img {
                    background:#8c8c8c;
                    border:1px solid #dddddd;
                    width:450px;
                    height:450px;
                    float: left;
                }

                .products_payment {
                    width: 690px;
                    display: block;
                    float: right;

                    .product_name {
                        font-family:MicrosoftYaHei;
                        font-size:16px;
                        color:#666666;
                        letter-spacing:0;
                        line-height:30px;
                        text-align:justify;
                        display: block;
                        width: 690px;
                        margin-bottom: 20px;
                    }

                    .producr_intro {
                        font-family:MicrosoftYaHei;
                        font-size:13px;
                        color:#666666;
                        letter-spacing:0;
                        line-height:20px;
                        text-align:justify;
                        display: block;
                        margin-bottom: 20px;
                    }

                    .payment_list {
                        width: 100%;
                        height: 120px;
                        background:#eaeaea;    
                        padding: 20px;
                        box-sizing: border-box;
                        margin-bottom: 39px;

                        .info_label {
                            display: block;
                            float: left;
                            width: 47px;
                            height: 13px;
                            margin-right: 20px;
                            font-family: MicrosoftYaHei;
                            font-size: 13px;
                            color: #999999;
                            letter-spacing: 1.5px;
                            line-height: 13px;
                            text-align: right;
                        }

                        .price {
                            display: block;
                            float: left;
                            font-family:MicrosoftYaHei;
                            font-size:16px;
                            color:#333333;
                            letter-spacing:0;
                            line-height:16px;
                            text-align:justify;
                            margin-bottom: 20px;

                            i {
                                font-family:MicrosoftYaHei;
                                font-size:24px;
                                color:#333333;
                                letter-spacing:0;
                                line-height:24px;
                                text-align:justify;
                                display: block;
                                float: right;
                                margin-left: 5px;
                                margin-top: -8px;
                            }
                        }
                        
                        .market_price {
                            font-family:MicrosoftYaHei;
                            font-size:14px;
                            color:#999999;
                            letter-spacing:0;
                            line-height:14px;
                            text-align:justify;
                            display: block;
                            float: left;
                            margin-left: 10px;
                            text-decoration: line-through;
                        }

                        .address {
                            font-family:MicrosoftYaHei;
                            font-size:13px;
                            color:#999999;
                            letter-spacing:0;
                            line-height:13px;
                            text-align:justify;
                            display: block;
                            float: left;

                            .shop_address {
                                font-family:MicrosoftYaHei;
                                font-size:13px;
                                color:#333333;
                                letter-spacing:0;
                                line-height:13px;
                                text-align:justify;
                                display: block;
                                float: left;
                                padding-right: 11px;
                                margin-right: 10px;
                                background: url('../img/product_details_icon.png');
                                background-repeat: no-repeat;
                                background-size: 6px 4px;
                                background-position: 100%;

                            }

                            .buyer_address {
                                font-family:MicrosoftYaHei;
                                font-size:13px;
                                color:#333333;
                                letter-spacing:0;
                                line-height:13px;
                                text-align:justify;
                                display: block;
                                float: right;
                                margin-left: 10px;
                                padding-right: 11px;
                                background: url('../img/product_details_icon.png');                                
                                background-repeat: no-repeat;
                                background-size: 6px 4px;
                                background-position: 100%;
                                cursor: pointer;
                            }
                        }

                        .express_price {
                            font-family:MicrosoftYaHei;
                            font-size:13px;
                            color:#333333;
                            letter-spacing:0;
                            line-height:13px;
                            text-align:justify;
                            display: block;
                            float: left;
                            margin-bottom: 20px;
                            margin-left: 40px;
                        }

                        .product_weight {
                            font-family:MicrosoftYaHei;
                            font-size:13px;
                            color:#333333;
                            letter-spacing:0;
                            line-height:13px;
                            text-align:justify;
                            display: block;
                            float: left;
                            margin-bottom: 20px;

                        }
                    }

                    .product_quantity {
                        display: block;
                        float: left;
                        background:#ffffff;
                        border:1px solid #c3c3c3;
                        width:40px;
                        height:38px;
                        text-align: center;
                        font-family:MicrosoftYaHei;
                        font-size:13px;
                        color:#999999;
                        letter-spacing:0;
                    }
                    .quantity_change {
                        display: block;
                        float: left;
                        margin-right: 18px;

                        a {
                            display: block;
                            background:#d8d8d8;
                            border:1px solid #c3c3c3;
                            width:20px;
                            height:18px;
                            font-family:PingFangSC-Regular;
                            font-size:12px;
                            color:#999999;
                            letter-spacing:0;
                            line-height:18px;
                            text-align:center;
                        }
                    }

                    button {
                        margin-right: 18px;
                        background: #d8d8d8;
                        border: 1px solid #cfcfcf;
                        width: 120px;
                        font-family: PingFangSC-Regular;
                        font-size: 14px;
                        color: #333333;
                        letter-spacing: 0;
                        text-align: center;
                        display: block;
                        float: left;
                        border: 0;
                        height: 40px;
                        cursor: pointer;
                    }
                }

                .tabs_details {
                    width: 100%;
                    margin-top: 49px;

                    .official_recommen {
                        width: 298px;
                        display: block;
                        float: left;
                        background:#ffffff;
                        border:1px solid #dddddd;

                        p {
                            background: #ececec;
                            /* border: 1px solid #dddddd; */
                            width: 278px;
                            height: 38px;
                            font-family: MicrosoftYaHei-Bold;
                            font-size: 14px;
                            color: #8c8c8c;
                            letter-spacing: 0;
                            line-height: 38px;
                            text-align: left;
                            display: block;
                            padding: 8px 0px 8px 20px;
                        }

                        .official_recommen_list {
                            padding-top: 20px;

                            .recommen {
                                display: block;
                                padding: 20px;
                                padding-top: 0px;
                                padding-bottom: 0px;
                                background: #fff;
                                margin-bottom: 20px;

                                .img {
                                    background:#8c8c8c;
                                    border:1px solid #979797;
                                    width:258px;
                                    height:178px;
                                }

                                .name {
                                    font-family:MicrosoftYaHei;
                                    font-size:12px;
                                    color:#666666;
                                    letter-spacing:0;
                                    line-height:18px;
                                    text-align:justify;
                                    display: block;
                                    margin-top: 10px;
                                }

                                .price {
                                    font-family:MicrosoftYaHei-Bold;
                                    font-size:14px;
                                    color:#666666;
                                    letter-spacing:0;
                                    line-height:20px;
                                    text-align:justify;
                                    margin-top: 10px;
                                    display: block;
                                }
                            }
                        }
                    }

                    .tab_details {
                        width: 840px;
                        display: block;
                        float: right;

                        #oClick_tabs {
                            width: 100%;
                            background:#dddddd;
                            height:40px;

                            li {
                                background: #e1e1e1;
                                width: 140px;
                                height: 40px;
                                display: block;
                                float: left;
                                font-family: PingFangSC-Regular;
                                font-size: 14px;
                                color: #989898;
                                letter-spacing: 0;
                                text-align: center;
                                cursor: pointer;
                                line-height: 40px;
                                transition: all 0.5s;
                            }

                            .active {
                                background: #989898;
                                color: #ffffff;
                            }
                        }

                        .alls_product {
                            width: 100%;

                            .details_product {
                                width: 100%;

                                .img {
                                    display: block;
                                    background:#989898;
                                    width:820px;
                                    height:180px;
                                    margin-left: 10px;
                                    margin-top: 20px;
                                    margin-bottom: 20px;
                                }

                                .p {
                                    width: 820px;
                                    font-family:PingFangSC-Regular;
                                    font-size:14px;
                                    color:#656565;
                                    letter-spacing:0;
                                    line-height:24px;
                                    text-align:justify;
                                    margin-bottom: 50px;
                                    display: block;
                                    margin-left: 10px;

                                    p {
                                        display: block;
                                        margin-bottom: 50px;
                                    }
                                }
                            }

                            .details_parameter {
                                width: 820px;

                                ul {
                                    width: 100%;
                                    margin-top: 14px;

                                    li {
                                        height: 34px;
                                        width: 100%;

                                        .attribute {
                                            width: 200px;
                                            height: 34px;
                                            float: left;
                                            display: block;
                                            font-family:PingFangSC-Regular;
                                            font-size:14px;
                                            color:#989898;
                                            letter-spacing:0;
                                            line-height:24px;
                                            text-align:justify;
                                            padding-left: 20px;
                                            box-sizing: border-box;
                                        }

                                        .value {
                                            display: block;
                                            float: left;
                                            font-family:PingFangSC-Regular;
                                            font-size:14px;
                                            color:#989898;
                                            letter-spacing:0;
                                            line-height:24px;
                                            text-align:justify;
                                        }

                                        &:nth-child(2n){
                                            background-color: #f5f5f5;
                                        }
                                    }
                                }
                            }

                            .details_service {
                                width: 820px;
                                margin-top: 20px;
                                padding-left: 10px;
                                box-sizing: border-box;

                                .service {
                                    width: 100%;
                                    margin-bottom: 30px;

                                    .title {
                                        display: block;
                                        font-family:PingFangSC-Semibold;
                                        font-size:14px;
                                        color:#666666;
                                        letter-spacing:0;
                                        text-align:justify;
                                        line-height: 16px;
                                        margin-bottom: 14px;
                                        font-weight: bold;
                                    }

                                    .subtitle {
                                        display: block;
                                        font-family:PingFangSC-Regular;
                                        font-size:14px;
                                        color:#666666;
                                        letter-spacing:0;
                                        text-align:justify;
                                        line-height: 22px;
                                        margin-bottom: 9px;
                                    }

                                    .text {
                                        display: block;
                                        font-family:PingFangSC-Regular;
                                        font-size:12px;
                                        color:#c8c8c8;
                                        letter-spacing:0;
                                        line-height:20px;
                                        text-align:justify;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .bot {
            background:#ffffff;
            height:135px;
            padding-top: 45px;

            .logo {
                width: 102px;
                height: 41px;
                background: url('../img/logo-top.png');
                background-size: cover;
                margin: 0 auto;

            }

            span {
                display: block;
                font-family:MicrosoftYaHei;
                font-size:12px;
                color: black;
                letter-spacing:0;
                line-height:24px;
                text-align:center;
                height: 25px;
                margin: 0 auto;
                margin-top: 9px;
            }

            p {
                display: block;
                height: 14px;
                margin: 0 auto;
                margin-top: 2px;
                font-family:PingFangSC-Regular;
                font-size:12px;
                color: black;
                letter-spacing:1.2px;
                text-align:center;
            }
        }
    }

}
