/*重置css*/
@import "theme2/_reset.scss";
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;

    .error{
        color:red;
    }

    .wrap {
        width: 1280px;
        margin: 0 auto;

        .header {
            .stripe {
                width: 100%;
                height: 25px;
                background-color: #003377;
                margin-bottom: 28px;
            }

            .inner {
                width: 1210px;
                margin: 0 auto;

                .back-index {
                    display: block;
                    width: 90px;
                    height: 21px;
                    font-size: 12px;
                    color: #fff;
                    background-color: #003377;
                    float: left;
                    line-height: 21px;
                    margin-bottom: 52px;
                    border: 0;
                    border-radius: 10px 10px 10px 10px;
                    cursor: pointer;
                }

                img {
                    width: 70px;
                    height: 21px;
                    background-color: red;
                    float: right;
                }

                .enroll-title {
                    margin-bottom: 20px;

                    .title {
                        display: block;
                        line-height: 36px;
                        font-size: 36px;
                        color: #003377;
                        float: left;
                        font-weight: bold;              
                    }

                    .logo {
                        display: block;
                        float: right;
                        width: 70px;
                        margin-top: 17px;     
                        cursor: pointer; 
                    }
                }

                .cut {
                    width: 100%;
                    height: 0px;
                    border-top: 1px solid #666;
                    margin-bottom: 20px;
                }

                .enroll-content {
                    width: 100%;
                    font-size: 15px;
                    line-height: 24px;
                    margin-bottom: 100px;
                }
            }
        }

        .content {
            width: 1210px;
            margin: 0 auto;

            .content-title {
                display: block;
                color: #003377;
                font-size: 21px;
                line-height: 21px;
                margin-bottom: 20px;
            }

            .cut {
                width: 100%;
                height: 0px;
                border-top: 1px solid #666;
                margin-bottom: 20px;
            }

            .form {
                width: 100%;
                box-sizing: border-box;
                padding: 0px 70px 60px 70px;

                .input-field {
                    position: relative;
                    zoom: 1;
                    margin-bottom: 20px;
                    &:after {
                        content: " ";
                        display: block;
                        clear: both;
                        height: 0;
                    }

                    .input-label {
                        font-size: 15px;
                        font-weight: bold;
                        margin-right: 60px;
                    }

                    .input-field-text {
                        width: 280px;
                        height: 30px;
                        border-radius: 5px 5px 5px 5px;
                        line-height: 30px;
                        text-align: center;
                        border: 1px solid #666;
                    }
                }

                .cut {
                    border:1px dashed #000;
                    width: 100%;
                    margin-bottom: 34px;
                    margin-top: 14px;
                }

                .team-nav {
                    height: 50px;
                    display: block;
                    float: left;

                    li {
                        width: 100px;
                        color: #003377;
                        background-color: #fff;
                        font-weight: bold;
                        text-align: center;
                        float: left;
                        line-height: 50px;
                        cursor: pointer;
                        transition: all 0.3s;
                    }

                    .active {
                        color: #fff;
                        background-color: #003377;
                        line-height: 50px;
                        font-size: 16px;
                        font-weight: blod;
                    }
                }

                .button-add {
                    background-color: #003377;
                    width: 50px;
                    height: 50px;
                    margin-left: 20px;
                    line-height: 50px;
                    font-size: 35px;
                    text-align: center;
                    display: block;
                    float: left;
                    cursor: pointer;

                    i {
                        color: #fff;
                        width: 50px;
                        line-height: 50px;
                        font-size: 35px;
                        text-align: center;
                        cursor: pointer;
                        transform: rotate(45deg);
                    }
                }
                
                .team-list {

                    .team {
                        padding-top: 34px;
                        box-sizing: border-box;
                        border: 2px solid #666;
                        width: 100%; 
                        padding-left: 35px;
                        box-sizing: border-box;
                        display: none;

                        .members {
                            width: 324px;
                            height: 323px;
                            display: block;
                            float: left;
                            margin-bottom: 20px;
                            margin-right: 10px;
                            border: 1px solid #ccc;

                            .member-title {
                                display: block;
                                width: 100%;
                                height: 35px;
                                color: #fff;
                                background-color: #ccc;
                                font-size: 16px;
                                line-height: 35px;
                                text-align: center;
                                margin-bottom: 25px;
                                position: relative;

                                .ken-add {
                                    width: 20px;
                                    height: 20px;
                                    background-color: #003377;
                                    color: #fff;
                                    position: absolute;
                                    right: 17px;
                                    top: 8px;
                                    line-height: 21px;
                                    cursor: pointer;
                                    display: none;
                                }

                                .closeTeacher {
                                    width: 20px;
                                    height: 20px;
                                    background-color: #003377;
                                    color: #fff;
                                    position: absolute;
                                    right: 17px;
                                    top: 8px;
                                    line-height: 21px;
                                    cursor: pointer;
                                    display: block;
                                }
                            }

                            .input-field {
                                position: relative;
                                box-sizing: border-box;
                                padding: 0px 23px;

                                .input-label {
                                    display: block;
                                    float: left;
                                    margin-right: 20px;
                                    line-height: 32px;
                                }
                                .input-field-text {
                                    display: block;
                                    float: right;
                                    width: 150px;
                                }
                            }
                        }
                    }

                    .active {
                        display: block;
                    }
                }

                .symposium {
                    span {
                        margin-bottom: 5px;
                        font-weight: bold;
                        display: block;
                    }
                    
                    .symposium-member {
                        margin-top: 20px;
                        width: 1090px;

                        .meet {
                            width: 258px;
                            height: 285px;
                            display: block;
                            float: left;
                            margin-bottom: 20px;
                            margin-right: 10px;
                            border: 1px solid #ccc;

                            .meet-title {
                                display: block;
                                width: 100%;
                                height: 35px;
                                color: #fff;
                                background-color: #ccc;
                                font-size: 16px;
                                line-height: 35px;
                                text-align: center;
                                margin-bottom: 25px;
                            }

                            .input-field {
                                position: relative;
                                box-sizing: border-box;
                                padding: 0px 23px;

                                .input-label {
                                    display: block;
                                    float: left;
                                    margin-right: 0px;
                                    line-height: 32px;
                                }
                                .input-field-text {
                                    display: block;
                                    float: right;
                                    width: 150px;
                                }
                            }
                        }
                    }
                }

                .invoice-header {
                    span {
                        font-weight: bold;
                        display: block;
                        float: left;
                        margin-right: 20px;
                        line-height: 32px;
                    }

                    .input-field-text {
                        width: 280px;
                        height: 30px;
                        border-radius: 5px 5px 5px 5px;
                        line-height: 30px;
                        text-align: center;
                        border: 1px solid #666;
                        float: left;
                    }
                }

                .code-send {
                    margin-bottom: 50px;

                    span {
                        font-weight: bold;
                        display: block;
                        float: left;
                        margin-right: 20px;
                        line-height: 32px;
                    }

                    .input-field-text {
                        width: 100px;
                        height: 30px;
                        border-radius: 5px 5px 5px 5px;
                        line-height: 30px;
                        text-align: center;
                        border: 1px solid #666;
                        float: left;
                    }

                    a {
                        padding: 0px 10px;
                        line-height: 29px;
                        border: 2px solid #003377;
                        text-align: center;
                        display: block;
                        float: left;
                        margin-left: 30px;
                    }
                }

                .logo-img {
                    width: 100px;
                    height: 30px;
                    background-color: red;
                    display: block;
                    float: left;
                }

                .submit {
                    width: 150px;
                    height: 50px;
                    background-color: #003377;
                    color: #fff;
                    text-align: center;
                    line-height: 50px;
                    display: block;
                    float: right;
                }

                .width415 {
                    width: 415px;
                }

                .width450 {
                    width: 450px;
                }

                .width875 {
                    width: 875px;

                    input {
                        width: 700px!important;
                    }
                }
            }
        }

        .footer {
            margin-top: 100px;

            .inner {
                width: 1080px;
                margin: 0 auto;

                img { 
                    display: block;
                    float: right;
                    width: 200px;
                    height: 100px;
                    background-color: red;
                }
            }

            .bot {
                height: 100px;
                width: 100%;
                background-color: #003377;
            }
        }

        .identifying {
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.2);
            position: fixed;
            left: 0px;
            top: 0px;
            z-index: 9999;
            display: none;

            .showBox {
                width: 500px;
                height: 215px;
                background-color: white;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

                .tip {
                    display: table;
                    margin: 0 auto;
                    margin-top: 22px;
                    font-size: 14px;
                }

                #tipes {
                    display: table;
                    margin: 6px 0px -13px 0px;
                    transform: translateX(55px);
                    font-size: 14px;

                    i {
                        color: red;
                    }
                }

                .tipes-false {
                    color: red;
                    display: block;
                    margin: 16px 0px -13px 0px;
                    transform: translateX(95px);
                    font-size: 14px;
                    opacity: 0;
                }

                img {
                    display: block;
                    float: left;
                    width: 120px;
                    margin: 0 auto;
                    cursor: pointer;
                    margin: 30px 0px 0px 125px;
                    border: 1px solid #ccc;
                }

                input {
                    width: 139px;
                    height: 38px;
                    display: block;
                    box-sizing: border-box;
                    padding: 10px 20px 10px 20px;
                    font-size: 19px;
                    line-height: 30px;
                    text-align: center;
                    margin-top: 30px;
                    border: 1px solid #ccc;
                }

                .yes {
                    background: #587BEF;
                    width: 80px;
                    height: 30px;
                    font-family: PingFangSC-Regular;
                    font-size: 14px;
                    color: #fff;
                    letter-spacing: 2px;
                    line-height: 30px;
                    text-align: center;
                    position: absolute;
                    left: 50%;
                    bottom: 25px;
                    transform: translateX(-50%);
                    cursor: pointer;
                }

                .no {
                    width: 80px;
                    height: 30px;
                    font-family: PingFangSC-Regular;
                    font-size: 14px;
                    letter-spacing: 2px;
                    line-height: 30px;
                    text-align: center;
                    position: absolute;
                    right: -65px;
                    top: 0px;
                    transform: translateX(-50%);
                    cursor: pointer;

                    i {
                        font-size: 25px;
                    }
                }
            }
        }

        .active {
            display: block;
        }

        .clearfix {
            zoom: 1;
            &:after {
                content: " ";
                display: block;
                clear: both;
                height: 0;
            }
        }
    }

    .tips {
        position: absolute;
        right: 5px;
        top: 0px;

        .useable {
            color: green;

            i {
                font-size: 23px;
            }
        }

        .unuse {
            color: red;
            font-size: 20px;
        }
    }

    
}
