/*重置css*/
@import "theme2/_reset.scss";

* {
	margin: 0;
	padding: 0;
}

body {
	background:#edf3ff;
	position: relative;

	#info {
		.top {
			width: 100%;
			height: 60px;
			background: white;

			.inner {
				width: 1180px;
				height: 60px;
				margin: 0 auto;

				.logo {
					width: 102px;
					height: 40px;
					float: left;
					margin-top: 10px;
					background:url('../img/logo-top.png');
					background-size: cover;
				}

				.nav {
					float: left;
					margin-left: 100px;
					height: 60px;

					a {
						display: block;
						float: left;
						margin-right: 50px;
						font-family:MicrosoftYaHei;
						font-size:13px;
						color:#2a201d;
						letter-spacing:1px;
						line-height:60px;
						text-align:center;
						cursor: pointer;
					}
				}

				.login {
					float: right;
					height: 30px;
					margin-top: 15px;

					a {
						display: block;
						height: 30px;
						margin-left:  29px;
						font-family:MicrosoftYaHei;
						font-size:13px;
						color:#2a201d;
						letter-spacing:1px;
						line-height:30px;
						text-align:center;
						float: left;
						cursor: pointer;
					}

					.active {
						border:1px solid #0088ff;
						border-radius:100px;
						width:96px;
						height:30px;
						font-family:MicrosoftYaHei;
						font-size:13px;
						color:#0088ff;
						letter-spacing:1px;
						line-height:30px;
						text-align:center;
					}
				}
			}
		}

		.preview_show {
			padding-top: 30px;

			.inner {
				width: 1180px;
				margin: 0 auto;
				padding-bottom: 160px;

				.preview_fl {
					float: left;
					width: 800px;

					.video {
						opacity: 0.9;
						background: #696969;
						width: 800px;
						height: 500px;
						display: block;
						margin-bottom: 20px;
						position: relative;
						overflow: hidden;

						.controller_video {
							width: 100%;
							height: 50px;
							background:#ccc;
							position: absolute;
							left: 0px;
							bottom: 0px;
							opacity: 1;
						}
					}

					.tabs_course {
						width: 100%;
						height: 50px;
						border-bottom: 1px solid #989898;
						margin-bottom: 4px;

						li {
							width: 120px;
							height: 49px;
							font-family: MicrosoftYaHei;
							font-size: 14px;
							line-height: 49px;
							color: #696969;
							letter-spacing: 5px;
							text-align: center;
							float: left;
							cursor: pointer;
						}

						.active {
							font-family:MicrosoftYaHei-Bold;
							font-size:14px;
							color:#696969;
							line-height: 49px;
							letter-spacing:5px;
							text-align:center;
							border-bottom: 1px solid #696969;
							font-weight: bold;
						}
					}

					.course_tabs {
						width: 100%;

						.kecheng {
							margin-top: 10px;
							margin-bottom: 10px;

							.chapter {
								display: block;
								margin-bottom: 10px;
								font-family: MicrosoftYaHei;
								font-size: 14px;
								color: #666666;
								letter-spacing: 0;
								line-height: 36px;
								text-align: left;
								background: #d8d8d8;
								padding-left: 10px;
							}

							.chapter_sub {
								display: block;
								width: 750px;
								height: 36px;
								padding-left: 30px;
								padding-right: 20px;
    							cursor: pointer;
    							position: relative;

								.chapter_name {
									display: block;
									font-family:MicrosoftYaHei;
									font-size:12px;
									color:#666666;
									letter-spacing:0;
									line-height:36px;
									text-align:left;
									float: left;
								}

								.chapter_time {
									display: block;
									font-family:MicrosoftYaHei;
									font-size:12px;
									color:#666666;
									letter-spacing:0;
									line-height:36px;
									text-align:right;
									float: right;
								}

								.buy {
									background-color: #bfbfbf;
									position: absolute;
									right: 20px;
									top: 0;
									font-family:MicrosoftYaHei;
									font-size:12px;
									color:#666666;
									letter-spacing:0;
									line-height:36px;
									text-align:right;
								}

								.unbuy {
									background-color: #bfbfbf;
									position: absolute;
									right: 20px;
									top: 0;
									font-family:MicrosoftYaHei;
									font-size:12px;
									color:#666666;
									letter-spacing:0;
									line-height:36px;
									text-align:right;
								}

								.login {
									background-color: #bfbfbf;
									position: absolute;
									right: 20px;
									top: 0;
									font-family:MicrosoftYaHei;
									font-size:12px;
									color:#666666;
									letter-spacing:0;
									line-height:36px;
									text-align:right;
								}
							}

							.active {
								background-color: #bfbfbf;
							}
						}
					}
				}

				.preview_fr {
					width:340px;
					float: right;

					.preview_intro {
						background:#e1e1e1;
						border:1px solid #cccccc;
						width:318px;
						height:498px;
						position: relative;

						.tab_intro {
							height: 50px;
							display: block;

							li {
								width: 157px;
								height: 50px;
								float: left;
								background:#d8d8d8;
								border:1px solid #d8d8d8;
								font-family:MicrosoftYaHei;
								font-size:14px;
								color:#747474;
								letter-spacing:5px;
								line-height:50px;
								text-align:center;
								cursor: pointer;
							}

							.active {
								width: 157px;
								background:#696969;
								border:1px solid #696969;
								color: #fff;
							}
						}

						.div_intro {
							width: 280px;
							margin-left: 20px;
							margin-top: 21px;

							.intro {
								font-family:MicrosoftYaHei;
								font-size:14px;
								color:#696969;
								line-height:21px;
								text-align:justify;
								margin-bottom: 20px;

								span {
    								font-weight: bold;
								}
							}

							.price {
								font-family:MicrosoftYaHei;
								font-size:14px;
								color:#696969;
								line-height:21px;
								text-align:justify;
								margin-bottom: 20px;

								span {
    								font-weight: bold;
								}

								i {
									text-decoration: line-through;
									margin-right: 15px;
								}
							}
							.recommend {
								font-family:MicrosoftYaHei;
								font-size:14px;
								color:#696969;
								line-height:21px;
								text-align:justify;
								margin-bottom: 34px;

								span {
    								font-weight: bold;
								}
							}
							.tech_sup {
								span {
									border:1px solid #cccccc;
									border-radius:15px;
									width:80px;
									height:24px;
									font-family:PingFangSC-Regular;
									font-size:14px;
									color:#696969;
									letter-spacing:0;
									line-height:24px;
									text-align:center;
									margin-right: 8px;
									display: block;
									float: left;
									cursor: pointer;
								}
							}

						}

						button {
							background:#d8d8d8;
							border:1px solid #cccccc;
							width:318px;
							height:48px;
							position: absolute;
							left: 0px;
							bottom: 0px;
							font-family:MicrosoftYaHei;
							font-size:14px;
							color:#696969;
							line-height: 48px;
							letter-spacing:5px;
							text-align:center;
							cursor: pointer;
						}
					}

					.recommend_preview {
						margin-top: 20px;

						p {
							font-family: MicrosoftYaHei;
							font-size: 14px;
							color: #696969;
							letter-spacing: 5px;
							line-height: 40px;
							text-align: left;
							margin-bottom: 10px;
						}

						ul {
							li {
								position: relative;
								margin-bottom: 15px;
								height: 80px;
								cursor: pointer;

								.img {
									background:#696969;
									width:120px;
									height:80px;
									position: absolute;
									left: 0px;
									top: 0px;
								}

								.name {
									font-family:Helvetica;
									font-size:12px;
									color:#696969;
									text-align:left;
									position: absolute;
									left: 135px;
									top: 0px;
								}

								.num {
									font-family:PingFangSC-Regular;
									font-size:12px;
									color:#989898;
									text-align:left;
									position: absolute;
									left: 135px;
									top: 32px;
								}
							}
						}
					}
				}
			}
		}

		.bot {
			background:#ffffff;
			height:135px;
			padding-top: 45px;

			.logo {
				width: 102px;
				height: 41px;
				background: url('../img/logo-top.png');
				background-size: cover;
				margin: 0 auto;

			}

			span {
				display: block;
				font-family:MicrosoftYaHei;
				font-size:12px;
				color: black;
				letter-spacing:0;
				line-height:24px;
				text-align:center;
				height: 25px;
				margin: 0 auto;
				margin-top: 9px;
			}

			p {
				display: block;
				height: 14px;
				margin: 0 auto;
				margin-top: 2px;
				font-family:PingFangSC-Regular;
				font-size:12px;
				color: black;
				letter-spacing:1.2px;
				text-align:center;
			}
		}
	}

}
