@charset "UTF-8";
/*重置css*/
* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1200px;
  background: #fff;
  position: relative;
}
body .header {
  height: 180px;
  background: #587BEF;
}
body .header .inner {
  width: 1180px;
  height: 180px;
  margin: 0 auto;
}
body .header .inner .banner-img {
  width: 1180px;
  height: 180px;
  display: block;
  margin: 0 auto;
  background: url("../img/banner_bg.png") no-repeat center;
  background-size: contain;
}
body .footer {
  height: 182px;
  background: #587BEF;
  font-size: 14px;
}
body .footer .inner {
  width: 1180px;
  height: 182px;
  display: block;
  margin: 0 auto;
  padding-top: 46px;
  box-sizing: border-box;
}
body .footer .inner .logo-all {
  width: 190px;
  height: 40px;
  margin: 0 auto;
}
body .footer .inner .logo-all img {
  height: 40px;
}
body .footer .inner .sp1 {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #fff;
  line-height: 24px;
}
body .footer .inner .sp2 {
  display: block;
  text-align: center;
  color: #fff;
  margin-top: 10px;
  line-height: 24px;
}
