@charset "UTF-8";
/*重置css*/
/*重置css*/
body, h1, h2, h3, h4, h5, h6, p, a, ul, li, div, input, dd, dt, dl.ol, img, span, i, b, strong {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img, input, textarea, a {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: "微软雅黑";
  font-size: 12px;
  color: #666;
  background: #f9f9f9;
}

img {
  border: 0;
  display: inline-block;
}

i {
  font-style: normal;
}

textarea {
  resize: none;
}

.clear {
  clear: both;
}

html, body {
  height: 100%;
  width: 100%;
}

html, body, h1, h2, h3, h4, h5, h6, div, ul, ol, li, dl, dt, dd, iframe, textarea, input, button, p, strong, b, i, a, span, del, pre, table, tr, th, td, form, fieldset, .pr, .pc {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  font-family: verdana,Microsoft YaHei,Tahoma,sans-serif;
  *font-family: Microsoft YaHei,verdana,Tahoma,sans-serif;
}

body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, .pr, .pc, em, del {
  font-style: normal;
  font-size: 100%;
}

ul, ol, dl {
  list-style: none;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #edf3ff;
  position: relative;
}
body #info .top {
  width: 100%;
  height: 60px;
}
body #info .top .inner {
  width: 1180px;
  height: 60px;
  margin: 0 auto;
}
body #info .top .inner .logo {
  width: 102px;
  height: 40px;
  float: left;
  margin-top: 10px;
  background: url("../img/logo-top.png");
  background-size: cover;
}
body #info .top .inner .nav {
  float: left;
  margin-left: 100px;
  height: 60px;
}
body #info .top .inner .nav a {
  display: block;
  float: left;
  margin-right: 50px;
  font-family: MicrosoftYaHei;
  font-size: 13px;
  color: #2a201d;
  letter-spacing: 1px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}
body #info .top .inner .login {
  float: right;
  height: 30px;
  margin-top: 15px;
}
body #info .top .inner .login a {
  display: block;
  height: 30px;
  margin-left: 29px;
  font-family: MicrosoftYaHei;
  font-size: 13px;
  color: #2a201d;
  letter-spacing: 1px;
  line-height: 30px;
  text-align: center;
  float: left;
  cursor: pointer;
}
body #info .top .inner .login .active {
  border: 1px solid #0088ff;
  border-radius: 100px;
  width: 96px;
  height: 30px;
  font-family: MicrosoftYaHei;
  font-size: 13px;
  color: #0088ff;
  letter-spacing: 1px;
  line-height: 30px;
  text-align: center;
}
body #info .banner {
  background: #e6e6e6;
  width: 100%;
  height: 220px;
}
body #info .banner .inner {
  width: 1180px;
  margin: 0 auto;
  padding-top: 40px;
}
body #info .banner .inner p {
  font-family: MicrosoftYaHei-Bold;
  font-size: 32px;
  color: #666666;
  letter-spacing: 5px;
  text-align: left;
  margin-left: 40px;
  font-weight: bold;
}
body #info .mid {
  width: 100%;
  background-color: #fff;
  position: relative;
}
body #info .mid .order {
  width: 1080px;
  margin: 0 auto;
  transform: translateY(-100px);
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 40px 50px 40px 50px;
}
body #info .mid .order .title {
  margin-left: 30px;
  display: block;
  font-family: MicrosoftYaHei-Bold;
  font-size: 16px;
  color: #666666;
  letter-spacing: 0;
  line-height: 16px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 40px;
}
body #info .mid .order .product_tabs {
  background: #f2f2f2;
  width: 1080px;
  margin: 0 auto;
}
body #info .mid .order .product_tabs .product_tab {
  width: 100%;
  height: 160px;
  box-sizing: border-box;
  padding: 30px;
}
body #info .mid .order .product_tabs .product_tab .product_img {
  background: #dddddd;
  border: 1px solid #979797;
  width: 148px;
  height: 98px;
  box-sizing: border-box;
  float: left;
  cursor: pointer;
}
body #info .mid .order .product_tabs .product_tab .product_name {
  float: left;
  font-family: MicrosoftYaHei;
  font-size: 16px;
  color: #666666;
  letter-spacing: 0;
  line-height: 14px;
  text-align: left;
  line-height: 30px;
  margin-top: 35px;
  margin-left: 40px;
}
body #info .mid .order .product_tabs .product_tab .product_delete {
  width: 30px;
  height: 30px;
  float: right;
  margin-top: 65px;
  background: url("../img/product_delete.png");
  background-repeat: no-repeat;
  margin-top: 35px;
  background-position: center center;
  cursor: pointer;
}
body #info .mid .order .product_tabs .product_tab .product_num {
  float: right;
  margin-right: 40px;
  margin-top: 40px;
  display: block;
}
body #info .mid .order .product_tabs .product_tab .product_num a {
  width: 20px;
  height: 20px;
  float: left;
  border: 1px #ccc solid;
  line-height: 20px;
  text-align: center;
  border-radius: 5px;
}
body #info .mid .order .product_tabs .product_tab .product_num input {
  display: block;
  float: left;
  border: 1px #ccc solid;
  width: 40px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 5px;
}
body #info .mid .order .product_tabs .product_tab .product_price_new {
  display: block;
  float: right;
  margin-right: 40px;
  font-family: MicrosoftYaHei;
  font-size: 16px;
  color: #666666;
  letter-spacing: 0;
  line-height: 16px;
  text-align: left;
  line-height: 30px;
  margin-top: 35px;
}
body #info .mid .order .product_tabs .product_tab .product_price_new i {
  font-family: MicrosoftYaHei;
  float: right;
  font-size: 12px;
  color: #666666;
  letter-spacing: 0;
  line-height: 12px;
  text-align: left;
  display: block;
  margin-right: 5px;
  margin-top: 8px;
}
body #info .mid .order .product_tabs .product_tab .product_price_old {
  display: block;
  float: right;
  margin-right: 20px;
  font-family: MicrosoftYaHei;
  font-size: 16px;
  color: #666666;
  letter-spacing: 0;
  line-height: 16px;
  text-align: left;
  line-height: 30px;
  text-decoration: line-through;
  margin-top: 35px;
}
body #info .mid .order .product_tabs .product_tab .product_price_old i {
  font-family: MicrosoftYaHei;
  float: right;
  font-size: 12px;
  color: #666666;
  letter-spacing: 0;
  line-height: 12px;
  text-align: left;
  display: block;
  margin-right: 5px;
  margin-top: 8px;
}
body #info .mid .order .cut {
  background: #d8d8d8;
  width: 1080px;
  height: 1px;
  margin-top: 40px;
}
body #info .mid .order .discount {
  padding-top: 40px;
}
body #info .mid .order .discount .sp1 {
  margin-left: 30px;
  font-family: MicrosoftYaHei-Bold;
  font-size: 16px;
  color: #666666;
  letter-spacing: 0;
  line-height: 16px;
  text-align: left;
  display: block;
  float: left;
  position: absolute;
  cursor: pointer;
}
body #info .mid .order .discount .sp1 .icon {
  width: 6px;
  height: 4px;
  position: absolute;
  right: -15px;
  top: -4px;
}
body #info .mid .order .discount .sp1 .icon img {
  width: 100%;
  transform: rotate(-90deg);
}
body #info .mid .order .discount .sp2 {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #666666;
  letter-spacing: 0;
  text-align: right;
  display: block;
  float: right;
  cursor: pointer;
}
body #info .mid .order .discount input {
  margin-left: 30px;
  background: #ffffff;
  border: 1px solid #979797;
  width: 289px;
  height: 30px;
  padding-left: 11px;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #666666;
  letter-spacing: 0;
  line-height: 30px;
  text-align: left;
  float: left;
  margin-top: 24px;
  display: none;
}
body #info .mid .order .discount button {
  float: left;
  background: #d8d8d8;
  border: 1px solid #979797;
  width: 76px;
  height: 32px;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #666666;
  letter-spacing: 0;
  line-height: 30px;
  text-align: center;
  margin-left: 13px;
  margin-top: 24px;
  display: none;
  cursor: pointer;
}
body #info .mid .order .discount .discount_intro {
  float: left;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #666666;
  letter-spacing: 0;
  text-align: right;
  line-height: 16px;
  display: block;
  margin-left: 29px;
  margin-top: 32px;
  display: none;
}
body #info .mid .order .total_order {
  padding-top: 40px;
}
body #info .mid .order .total_order .total_all .oDiv {
  width: 100%;
  height: 24px;
}
body #info .mid .order .total_order .total_all .oDiv .right_sp {
  display: block;
  width: 160px;
  float: right;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #666666;
  letter-spacing: 0;
  line-height: 24px;
  text-align: right;
}
body #info .mid .order .total_order .total_all .oDiv .left_sp {
  display: block;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #666666;
  letter-spacing: 0;
  line-height: 24px;
  text-align: right;
  float: right;
}
body #info .mid .order .total_order .total_all .altogether {
  margin-bottom: 5px;
}
body #info .mid .order .total_order .total_all .discount_amount {
  margin-bottom: 12px;
}
body #info .mid .order .total_order .total_all .payable {
  margin-bottom: 20px;
}
body #info .mid .order .total_order .total_all .payable .right_sp i {
  font-weight: bold;
  font-size: 22px;
}
body #info .mid .order .total_order .total_all button {
  display: block;
  background: #d8d8d8;
  border: 1px solid #979797;
  width: 138px;
  height: 38px;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #666666;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  float: right;
  margin-bottom: 20px;
  cursor: pointer;
}
body #info .mid .order .total_order .total_all .read_agreement {
  float: right;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #666666;
  letter-spacing: 0;
  line-height: 24px;
  text-align: right;
  margin-left: 10px;
}
body #info .mid .order .total_order .total_all .read_click {
  display: block;
  background: #d8d8d8;
  border: 1px solid #979797;
  border-radius: 3px;
  width: 12px;
  height: 12px;
  float: right;
  margin-top: 5px;
  cursor: pointer;
}
body #info .mid .order .total_order .total_all .active {
  position: relative;
}
body #info .mid .order .total_order .total_all .active img {
  width: 100%;
  position: absolute;
  top: 2px;
}
body #info .bot {
  background: #ffffff;
  height: 135px;
  padding-top: 45px;
}
body #info .bot .logo {
  width: 102px;
  height: 41px;
  background: url("../img/logo-top.png");
  background-size: cover;
  margin: 0 auto;
}
body #info .bot span {
  display: block;
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: black;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  height: 25px;
  margin: 0 auto;
  margin-top: 9px;
}
body #info .bot p {
  display: block;
  height: 14px;
  margin: 0 auto;
  margin-top: 2px;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: black;
  letter-spacing: 1.2px;
  text-align: center;
}
